* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

/*div, span{
  border: 1px solid green;
}*/

/* Mobile first */
.container > * {
  /*border: 1px solid green;*/
  padding: 10px;
  grid-column: col-start / span 12;
}

@media (max-width: 767px) {
  .content{
    grid-column: col-start / span 12;
  }

  #contract{
    position: absolute;
    top: 10%;
  }

  h1{
    font-family: 'Impact', sans-serif;
    font-weight: 800;
    font-size:2.5rem;
    /*transform: scaleY(1.5);*/
  }

  .head{
    background-image: url('planet.png');
    background-size: cover;
    height: 50vh;
  }

}

@media (min-width: 768px) {
  .content {
    grid-column: col-start / span 12;
    grid-row: 2 / 4;
  }
  .footer {
    grid-column: col-start / span 12;
  }

  #contact-section{
    display: flex;
    align-items: flex-start;
  }

  #contact-us{
    width:50%;
  }

  #fillable{
    width: 50%;
    margin-top: 6.5%;
  }

  #about{
    width: 50%;
  }

  #statement{
    width: 50%;
  }

  #about-section{
    display: flex;
  }

  h1{
    padding-top: 10%;
    font-family: 'Impact', sans-serif;
    font-weight: 800;
    font-size:5rem;
    transform: scaleY(1.5);
  }

  .head{
    background-image: url('planet.png');
    background-size: cover;
    height: 100vh;
  }
}

#planet{
    height: auto;
    max-width: 100%;
}

.head, .footer{
    position: relative;
}

a{
    text-decoration: none;
    color:white;
    margin-left: 5%;
    padding-bottom: 5%;
}

h2{
  font-family: 'Impact', sans-serif;
  font-weight: 500;
  font-size:xx-large;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size:large;
  line-height: 1.8;
}

input{
  margin-bottom:5%;
  width: 75%;
  padding:1%;
}

button{
  background-color:rgb(42, 45, 46);
  color: white;
  padding: 1% 5% 1% 5%;
}

button:hover{
  background-color:black;
}

.field{
  font-family: Georgia, 'Times New Roman', Times, serif;
}


