<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="../static/home_style.css" rel="stylesheet">
    <script src="../static/script.js"></script>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="/templates/home.html">
                <img width="50" height="50" src="//images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/7208b94e-3198-4a49-86fc-837c202d2fb1/Red+Black+and+White+Illustrated+Knight+Logo.png?format=1500w">
            </a></li>
            <li><a href="/templates/home.html">HOME</a></li>
            <li><a href="/templates/studio.html">SOFTWARE STUDIO</a></li>
        </ul>
    </div>
    <div id="image">
        <img id="planet" src="https://images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/1772933869022-D1GS0SR9GLZSRV9A9KWF/unsplash-image-Q1p7bh3SHj8.jpg">
        <div class="title">
            <h1>CONTRACTING & SOFTWARE SOLUTIONS</h1> 
            <h1>BY AMERICAN VETERANS</h1>
        </div>
    </div>
    <div id="about">
        <div>
            <h2 style="color: white;">ABOUT US</h2>
        </div>
        <div id="statement">
            <p>Charter Domain was founded by two American veterans who believe that service doesn't end with a uniform. After transitioning from the military, we built Peak Veteranto continue protecting and supporting our nation through professional, dependable contracting services. Our company is rooted in integrity, discipline, and mission-first thinking—values forged through years of military service.
            We exist to deliver excellence, build trust, and serve with purpose.</p>
        </div>
    </div>
    <div id="inquiry">
        <div id="contact">
            <h2>CONTACT US</h2>
            <p>Ready to support your mission. Contact Charter Domain today to discuss your needs</p>
        </div>
        <form method="post" action="/inquiry" enctype="multipart/form-data">
            <label for="fname">First Name<span> (required)</span></label>
            <input type="text" id="fname" name="first_name" placeholder="First Name" required>
            <label for="lname">Last Name<span> (required)</span></label>
            <input type="text" id="lname" name="last_name" placeholder="Last Name" required>
            <label for="email">Email<span> (required)</span></label>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <label for="phone">Phone<span> (required)</span></label>
            <input type="text" id="phone" name="phone" placeholder="Phone" required>
            <label for="desc">Description</label>
            <input type="text" id="desc" name="desc" placeholder="inquiry Description">
            <button type="submit" id="submit">SUBMIT</button>
        </form>
    </div>
    <footer id="closing">
        <div id="footer-contact">
            <h2>REACH OUT</h2>
            <p>charterdomain@gmail.com
            5900 Balcones Dr Ste 100, Austin, TX, 78731
            </p>
        </div>
        <div id="charter">
            <h2>CHARTER DOMAIN</h2>
        </div>
    </footer>
</body>
</html>