<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../static/template.css">
</head>
<body>
    <div class="container">
        <header class="head">
            <div style="display: flex;">
                <img style="margin: 1% 1% 1% 3%;" width="50" height="50" src="//images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/7208b94e-3198-4a49-86fc-837c202d2fb1/Red+Black+and+White+Illustrated+Knight+Logo.png?format=1500w">
            </div>
            <!--<img id="planet"src="https://images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/1772933869022-D1GS0SR9GLZSRV9A9KWF/unsplash-image-Q1p7bh3SHj8.jpg">-->
            <h1 id="contract" style="margin-left: 3%;">CONTRACTING & SOFTWARE SOLUTIONS<br>BY AMERICAN VETERANS</h1>
        </header>
        <div class="content">
            <div id="about-section">
                <div id="about"><h2 style="color: white;">ABOUT US & OUR BUSINESS</h2></div>
                <div id="statement"><p>Charter Domain was founded by two American veterans who believe that service doesn't end with a uniform. After transitioning from the military, we built Charter Domain to continue protecting and supporting our nation through professional, dependable contracting services. Our company is rooted in integrity, discipline, and mission-first thinking—values forged through years of military service.
                We exist to deliver excellence, build trust, and serve with purpose.</p></div>
            </div>
            <div id="contact-section"> 
                <div id="contact-us">
                    <h2>CONTACT US</h2>
                    <p>Ready to support your mission. Contact Charter Domain today to discuss your needs</p>
                </div>
                <div id="fillable">
                    <form method="post" action="/inquiry" enctype="multipart/form-data">
                        <div class="form-section">
                            <div><label for="fname"><span class="field">First Name (required)</span></label></div>
                            <input type="text" id="fname" name="first_name" placeholder="First Name" required>
                        <div class="form-section">
                            <div><label for="lname"><span class="field">Last Name (required)</span></label></div>
                            <input type="text" id="lname" name="last_name" placeholder="Last Name" required>
                        </div>
                        <div class="form-section">
                            <div><label for="email"><span class="field">Email (required)</span></label></div>
                            <input type="text" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-section">
                            <div><label for="phone"><span class="field">Phone (required)</span></label></div>
                            <input type="text" id="phone" name="phone" placeholder="Phone" required>
                        </div>
                        <div class="form-section">
                            <div><label for="desc"><span class="field">Description</span></label></div>
                            <input type="text" id="desc" name="desc" placeholder="inquiry Description">
                        </div>
                        <div style="display: flex; justify-content:flex-start;">
                            <button type="submit" id="submit"><strong>SUBMIT</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div>
                <h2>REACH OUT</h2>
                <p>kangle.lin@charterdomain.com</p>
                <p>david.franco1@charterdomain.com</p>
                <p>5900 Balcones Dr Ste 100, Austin, TX, 78731</p>
            </div>
            <span style="float: right;"><h2>CHARTER DOMAIN</h2></span>
        </footer>
    </div>
</body>
</html>