<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/output.css" rel="stylesheet">
</head>
<body>
  <h1 class="text-3xl font-bold underline bg-blue-500">
    Hello world!
  </h1>
  <div style="background-color: aqua;">
        <a href="/templates/home.html" data-animation-role="header-element">
                <img elementtiming="nbf-header-logo-desktop"
                src="//images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/7208b94e-3198-4a49-86fc-837c202d2fb1/Red+Black+and+White+Illustrated+Knight+Logo.png?format=1500w"
                style="display:block" fetchpriority="high" loading="eager"
                decoding="async"  width="50" height="50">
        </a>
        <a href="/templates/home.html">HOME</a>
        <a href="/templates/studio.html">SOFTWARE STUDIO</a>
    </div>
  <img src="https://images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/1772933869022-D1GS0SR9GLZSRV9A9KWF/unsplash-image-Q1p7bh3SHj8.jpg"
                width="2500" height="1300" sizes="(max-width: 799px) 200vw, 100vw"
                style="display:block;object-position: 50% 50%"
                fetchpriority="high" loading="eager" decoding="async">
  <footer>
      <h3>REACH OUT</h3>
      <p>charterdomain@gmail.com
            5900 Balcones Dr Ste 100, Austin, TX, 78731
      </p>
  </footer>
</body>
</html>