<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STUDIO</title>
  <link href="../static/studio_style.css" rel="stylesheet">
  <script src="../static/script.js"></script>
</head>
<body>
  <div class="header">
        <ul>
            <li><a href="/templates/home.html">
                <img width="50" height="50" src="//images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/7208b94e-3198-4a49-86fc-837c202d2fb1/Red+Black+and+White+Illustrated+Knight+Logo.png?format=1500w">
            </a></li>
            <li><a href="/templates/home.html">HOME</a></li>
            <li><a href="/templates/studio.html">SOFTWARE STUDIO</a></li>
        </ul>
    </div>
    <div id="image">
        <img id="planet" src="https://images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/1772933869022-D1GS0SR9GLZSRV9A9KWF/unsplash-image-Q1p7bh3SHj8.jpg">
        <div class="title">
            <h1>COMING SOON</h1> 
            <!--<h1>BY AMERICAN VETERANS</h1>-->
        </div>
    </div>
  <footer id="closing">
        <div id="footer-contact">
            <h2>CONTACT US</h2>
            <p>charterdomain@gmail.com
            5900 Balcones Dr Ste 100, Austin, TX, 78731
            </p>
        </div>
        <div id="charter">
            <h2>CHARTER DOMAIN</h2>
        </div>
    </footer>
</body>
</html>