<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link href="../static/output.css" rel="stylesheet">-->
  <link href="../static/studio_style.css" rel="stylesheet">
  <script src="../static/script.js"></script>
</head>
<body>
  <div class="nav-bar">
        <div id="nav-container">
            <ul>
                <li class="item1 nav-item"><a href="/templates/home.html" data-animation-role="header-element">
                    <img class="nav-logo" elementtiming="nbf-header-logo-desktop"
                    src="//images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/7208b94e-3198-4a49-86fc-837c202d2fb1/Red+Black+and+White+Illustrated+Knight+Logo.png?format=1500w"
                    style="display:block" fetchpriority="high" loading="eager"
                    decoding="async"  width="50" height="50">
                </a></li>
                <li class="item2 nav-item"><a href="/templates/home.html">HOME</a></li>
                <li class="item3 nav-item"><a href="/templates/studio.html">SOFTWARE STUDIO</a></li>
            </ul>
        </div>
    </div>
    <div>
        <img src="https://images.squarespace-cdn.com/content/v1/69acd2370f16472c8d794c57/1772933869022-D1GS0SR9GLZSRV9A9KWF/unsplash-image-Q1p7bh3SHj8.jpg"
                width="1600" height="900" sizes="(max-width: 799px) 200vw, 100vw"
                style="display:block;object-position: 50% 50%"
                fetchpriority="high" loading="eager" decoding="async">
        <div class="title">
            <h1>COMING SOON</h1>
        </div>
    </div>
  <footer>
      <h3>REACH OUT</h3>
      <p>charterdomain@gmail.com
            5900 Balcones Dr Ste 100, Austin, TX, 78731
      </p>
  </footer>
</body>
</html>